<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}BiblioConnect{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# Favicon personnalisée
    <link rel="icon" href="{{ asset('favicon.ico') }}"> #}

    {# Import Google Fonts : Montserrat #}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">

    {# Feuille de style principale #}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">

    {% block stylesheets %}{% endblock %}
</head>

<body>

    {# --- Barre de navigation simple --- #}
    <nav class="navbar">
        <div class="container">
            <a href="{{ path('app_livre') }}" class="nav-brand">BiblioConnect</a>
            <div class="nav-links">
                {% if app.user %}
                {# <span class="nav-user">Bienvenue</span> #}
                <span class="nav-user">
                    <a href="{{ path('app_user_show', { id: app.user.id }) }}"
                        class="nav-user nav-link">
                        Hello {{ app.user.prenom }} !
                    </a>
                </span>
                {% if is_granted('ROLE_LIBRARIAN') %}
                    <a href="{{ path('librarian_livre_historique') }}" class="nav-link">Historique réservations</a>
                    <a href="{{ path('app_user') }}" class="nav-link">Liste utilisateurs</a>
                {% endif %}
                <a href="/logout" class="nav-link">Se déconnecter</a>
                {% else %}
                <a href="{{ path('app_login') }}" class="nav-link">Se connecter</a>
                <a href="{{ path('app_inscription') }}" class="nav-link">S'inscrire</a>
                {% endif %}
            </div>
        </div>
    </nav>

    {# --- Contenu principal --- #}
    <main class="container">
        {% block body %}{% endblock %}
    </main>

    {# --- Scripts JS --- #}
    {% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</body>

</html>